.form {
  &__area {
    text-align: left;
    width: 100%;
    border: none;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    font-size: smaller;
    &:focus {
      background: #edf67d;
    }
  }
  &__article {
    padding: 0px;
    border-top: 1px solid white;
    @media screen and (min-width: 768px) {
      padding: 20px 0px;
    }
  }
  &__button {
    background: #3d348b;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    margin: 5px;
    @media screen and (min-width: 768px) {
      margin: 0px;
    }
  }
  &__ending {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      justify-content: space-around;
    }
  }
  &__heading::before {
    content: "🌞";
  }
  &__item {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: smaller;
    &:focus {
      background: #edf67d;
    }
  }
  &__task {
    line-height: 20px;
    @media screen and (min-width: 768px) {
      line-height: 40px;
    }
  }
  &__question {
    margin-bottom: 10px;
  }
}
