.form {
    &__area {
      text-align: left;
      width: 100%;
      border: none;
      height: 100px;
      padding: 5px;
      border-radius: 5px;
      font-size: smaller;
    }
    &__article {
      padding: 0px;
      border-top: 1px solid white;
    }
    &__button {
      background: #3d348b;
      color: white;
      border: 0;
      border-radius: 5px;
      padding: 5px;
      min-width: 200px;
      margin: 5px;
    }
    &__ending {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__heading::before{
      content:"🌞";
    }
    &__item {
      display: block;
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 5px;
      font-size: smaller;
    }
    &__task {
      line-height: 20px;
    }
    &__question {
      margin-bottom: 10px;
    }
  }
  
  .form__item:focus {
    background:#EDF67D;
  }
  
  .form__area:focus {
    background:#EDF67D;
  }

  @media screen and (min-width: 768px) {
    
  .form {

    &__article {
      padding: 20px 0px;
    }
    &__button {
      margin: 0px;
    }
    &__ending {
      justify-content: space-around;
    }
    &__task {
      line-height: 40px;
    }
  }
  }