.hamburger {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 6px;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 50px;
  &__close {
    display:none;
  }
  &__menu {
    background:none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
