@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import "../scss/modules/form.scss";
@import "../scss/modules/navigation.scss";
@import "../scss/modules/special.scss";
@import "../scss/modules/hamburger.scss";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";





html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 190px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: #88bcf2;
  background-image: linear-gradient(180deg, #88bcf2 25%, #f7e256 100%);
  display: flex;  
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  padding:6px;
}

.footer {
  text-align: center;
  color: grey;
  font-size: 15px;
  padding: 40px 0px 5px 0px;
}

h1 {
  color: #3d348b;
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  line-height: 30px;
}

h2 {
  color: #191716;
}

.main {
  width: 80%;
  margin-top:200px;
  &__content {
    margin: 0;
  }
  &__heading {
    line-height: 20px;
    padding: 10px 0px;
  }
  &__icon {
    color:#3d348b;
    height: 50px;
   bottom:2%;
   position:fixed;
   right:2%;
    width: 50px;
  }
  &__welcome {
    margin-bottom: 0;
  }
}


.header {
  background-image: url("../assets/img/image2.jpg");
  background-position: center center;
  background-size: cover;
  left:0;
  margin-top: 0;
  min-height: 200px;
  min-width: 100vw;
  position:fixed;
  top:0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main {
    width: 60%;
    &__heading {
      line-height: 40px;
      padding: 20px 0px;
    }
  }
}
